<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "James W. Davis" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "people" %>
    <%= stylesheet_link_tag "image" %>
    <%= stylesheet_link_tag "teaching" %>
    <%= stylesheet_link_tag "footer" %>
    <%= javascript_include_tag "site" %>
    <meta charset="utf-8">
    <meta name="description" content="James W. Davis: Professor at Ohio State"/>
    <meta name="keywords" content="Ohio, OSU, Ohio State, MIT, Media, Jim Davis, James W. Davis, Motion, Vision, James Davis, Computer Vision, Perception, ohio state university, research, video surveillance, surveillance, thermal, video, infrared, activity recognition, human, action, activity, event, human actions, gesture, artificial intelligence, cctv, Ohio State Vision Lab, drums"/>
    <title>James W. Davis</title>
  </head>


  <body class="<%= page_classes %>">
    <%= partial "/partials/header"%>
    <div class = "container">
    <%= yield %>
    </div>
    <%= partial "partials/footer"%>
  </body>
</html>
